body {
  font-family: 'Sora', sans-serif;
  font-size: 30px;
  overflow: hidden;
  margin: 0;
}

.bokeh {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: #3e1e68;
}

$particleSize: 20vmin;
$animationDuration: 6s;
$amount: 20;
.bokeh span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (#583c87, #e45a84, #ffacac);
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.container {
  position: absolute;
  width: 1200px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -600px;
  background: black;
  border-radius: 20px;
  color: white;
}
.title {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}
.clock {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sora', sans-serif;
}
.clock p {
  text-align: center;
}
.clock .clock-bullet {
  margin-right: 10px;
  font-size: 40px;
}
.clock .clock-bullet:last-child {
  margin-right: 0;
}
.clock .clock--meridiem {
  width: 200px;
}
.clock .clock--hours {
  width: 200px;
}
.clock .clock--minutes {
  width: 200px;
}
.clock .clock--seconds {
  width: 200px;
}
.date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 120px;
  font-family: 'Sora', sans-serif;
}
