body {
  font-family: 'Sora', sans-serif;
  font-size: 30px;
  background: #c7e9ff;
}
.container {
  position: absolute;
  width: 1200px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -600px;
  background: white;
  border-radius: 30px;
  color: black;
  box-shadow: 0 35px 68px 0 rgba(145, 182, 207, 0.42), inset 0 -8px 16px 0 #bde3fc;
}
.title {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}
.clock {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sora', sans-serif;
}
.clock p {
  text-align: center;
}
.clock .clock-bullet {
  margin-right: 10px;
  font-size: 40px;
}
.clock .clock-bullet:last-child {
  margin-right: 0;
}
.clock .clock--meridiem {
  width: 200px;
}
.clock .clock--hours {
  width: 200px;
}
.clock .clock--minutes {
  width: 200px;
}
.clock .clock--seconds {
  width: 200px;
}
.date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 120px;
  font-family: 'Sora', sans-serif;
}
